---
import HeroAnimation from './HeroAnimation';
import '../styles/global.css';
import '../styles/hero.css';
---

<div class="header">
  <img src="/rockstar-logo.svg" alt="Rockstar Games" class="rockstar-logo" />
  <div class="menu-btn">
    <div class="g0abma6"></div>
    <div class="g0abma6"></div>
  </div>
</div>

<div class="hero-wrapper">  
  <div class="hero-container">
    <img src="/fondo-original.png" class="background-image" alt="Background image GTA6">
    <img src="/hero-gt6-sin-fondo.png" class="characters-image" alt="GTA VI characters">
    <div class="reveal-text">
      grand<br><span class="theft-offset">theft</span><br><span class="auto-offset">auto</span>
    </div>       
    <div class="text-background"></div>    
    <div class="text-mask-container">      
      <div class="text-mask-wrapper">        
        <div class="logo-date-container">
          <div class="text-mask">grand<br><span class="the-highlight theft-offset">theft</span><br><span class="auto-offset">auto</span></div>
          <div class="date-mask-container">
            <div class="release-date">
              Disponible<br>el 26 de mayo<br>de 2026
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="vi-logo-animated-container">
      <img src="/vi.webp" alt="GTA VI Logo" class="vi-logo-animated">
    </div>      <div class="trailer-button-container">
      <a href="#" class="trailer-button">
        <div class="trailer-svg-container">
          <img src="/trailer-logo.svg" alt="Trailer Logo" width="120" height="120" class="trailer-svg-image" />
          <span class="trailer-text">Ver el trailer 2</span>
        </div>
      </a>
    </div>
    
  </div>
</div>

<HeroAnimation client:load />